.popular-posts {
	padding: 10px;
	margin-bottom: 10px;
}
.popular-posts a:hover {
	text-decoration: none;
}

.popular-posts .title {
	font-weight: bold;
	border-bottom: 1px solid #cacaca;
	font-size: 11pt;
	padding-bottom: 9px;
	margin-bottom: 8px;
	color:#4d4d4d;
}

.popular-posts  .title .new-post-icon  {
	margin-right: 10px;
	width:20px;
	height:20px;
}

.popular-posts .row {
	height: 20px;
	line-height: 20px;
	padding: 0 15px 0 10px;
	overflow: hidden;
	position: relative;
	font-size: 10pt;	
}
.popular-posts .row > .dot-icon {
	position: absolute;
	left: 0;
	top: 5px;
}
.popular-posts .row  a {
	color: #7a7a7a;
	margin-left:5px;
}
